.container{
    width:100%;
    height:10vh;
    
}
.container-list{
    color:black;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    gap:65px;
    
}
.container2{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    margin-left:2rem;
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-right: 23rem;
    
}
.section1{
    height:auto;
    width:100%;
    display: flex;
    flex-direction:row;
}
.content{
    width:50%;
    height:auto;
    padding-left:7rem;
    margin-top:17rem;
   
}
.content2{
    padding-right: "50%";
    width:50%;
    margin-top:10rem;
    margin-right:7rem;

}
.image-list{
    width:100%;
    margin-top:6rem;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top:3rem;
}
.section2{
    margin-top:8rem;
}
.section3{
    width:100%;
    height:"auto";
    display: flex;
    flex-direction:row;

}
.image3{
    width:50%;
    height:auto;
    padding-left:8rem;
    margin-top:2rem;
}
.content3{
    width:50%;
    height:auto;
    margin-top:8rem;
    padding-right:9rem;
}
.list-content{
    color:gray;
    list-style-type: none;
}
.section4{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
}
.content4{
    width:50%;
    height:auto;
    margin-top:15rem;
    margin-left:10rem;
}
.image4{
  width:50%;
  height:auto;
  box-shadow: 10px -2px 200px 10px #f8f5f5
}
.section5{
    margin-top: 7rem;
    width:100%;
    height: auto;
    border-top:1px solid gray;
}
.content5{
    text-align: center;
    margin-top: 7rem;

}
.section6{
    width:100%;
    height: auto;
    margin-top: 4rem;
}
.main-conent{
    margin-left: 15rem;
    display:flex;
    flex-direction: row;
}
.img-content1{
   height:300px;
   width:300px; 
   text-align: center; 
}
.img-content2{
    margin-left: 3rem;
    height: 300px;
    width:300px;
    text-align: center;
}
.section6{
    width:100%;
    height: auto;
    
}
.section7{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.content7{
    width:50%;
    height: auto;
    margin-left: 9rem;
    margin-top: 8rem;
}
.image7{
    width:50%;
    height: auto;
    margin-top: 6rem;
    margin-right:6rem;
    display: flex;
    flex-direction: row;
}
.card1{
    margin-right:26rem;
    box-shadow: inset 0px -3px 2px 0px rgba(10, 129, 240, 0.8);
    padding: 2rem 2rem 2rem 2rem;
    
}
.list-content{
    display: flex;
    flex-direction:column;
   margin-left:-3rem;
    text-align: center;
}
.card2{
    padding:2rem 2rem 2rem 2rem;
    box-shadow: 0px -2px 200px 0px #fffcfc;
    margin-left: -25rem;
}
.section8{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.content8{
    width:50%;
    height: auto;
    margin-top:16rem;
    margin-left: 6rem; 
}
.content8-1{
    width:50%;
    height: auto;
   margin-top: 18rem;
    
}
.section9{
    text-align: center;
    margin-top: 4rem;
}
.contain9{
    text-align: center;
}
.footer-container{
    width:100%;
    height:100dvh;
    position:relative;
    background-color: #202942;

}
.custom-shape-divider-top-1721573248 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721573248 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1721573248 .shape-fill {
    fill: white;
}
.icon-lg-20{
    width: 30px;
    height: 30px;
    
    color:antiquewhite;
    

}
.footer-group{
    display:flex;
    flex-direction: row;
    padding-top:20rem;
    padding-left:6rem;
    padding-right: 6rem;
}
.footer-list1{
    /* margin-left:5rem; */
    width:30%;
    height:auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.footer-list2{
    width:20%;
    height:30dvh;
    color:antiquewhite;
    display: flex;
    flex-direction:column;
}
.footer-list3{
    width:20%;
    height:30dvh;
    
}
.footer-list4{
    width:30%;
    height:30dvh;
    color:white;
    padding-left: 4rem;
}
.footer-last{
    border-top:white;
    border-color:#fffcfc;
    display: flex;
    flex-direction: row;
    margin-top:8rem;
    background-color: #202942 ;
    align-items: center;

}


